export ADDR=":8080"
export DB_ADDR="postgresql://neondb_owner:npg_hipBck5aqYG7@ep-patient-queen-a1omvmm2-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
export SENDGRID_API_KEY = "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"