ADDR=":8080"
DB_ADDR="postgresql://neondb_owner:npg_hipBck5aqYG7@ep-patient-queen-a1omvmm2-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
SENDGRID_API_KEY = "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"